<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="middle_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="middle_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>


    <joint name="front_wheel_joint_R">
      <command_interface name="position">
        <param name="min">-70</param>
        <param name="max">70</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_wheel_joint_L">
      <command_interface name="position">
        <param name="min">-70</param>
        <param name="max">70</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rear_wheel_joint_R">
       <command_interface name="position">
        <param name="min">-70</param>
        <param name="max">70</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rear_wheel_joint_L">
      <command_interface name="position">
        <param name="min">-70</param>
        <param name="max">70</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find osr_gazebo)/config/controller_velocity.yaml</parameters>
    </plugin>
  </gazebo>

</robot>