[Unit]
Description=osr_service
Requires=network.target
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/LaunchOSR.sh
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
