[Unit]
Description=OSR service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/launch_osr.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

RestartSec=3

[Install]
WantedBy=multi-user.target
