[Unit]
Description=OSR service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/LaunchOSR.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

RestartSec=3

[Install]
WantedBy=multi-user.target
