<launch>
	<rosparam file="$(find osr_bringup)/config/osr_params.yaml" />

	<!-- Nodes to run the Open Source Rover -->
	<node name="roboclaw_wrapper" pkg="osr" type="roboclaw_wrapper.py" output="screen">
		<rosparam command="load" file="$(find osr_bringup)/config/roboclaw_params.yaml"/>
		<rosparam command="load" file="$(find osr_bringup)/config/roboclaw_params_mod.yaml"/>
	</node>
        <node name="joy2twist" pkg="teleop_twist_joy" type="teleop_node">
            <param name="enable_button" value="4"/>  <!-- which button to press to enable movement-->
            <param name="enable_turbo_button" value="5"/>  <!-- -1: disable turbo -->
            <param name="axis_linear" value="1"/>  <!-- which joystick axis to use for driving -->
            <param name="axis_angular" value="3"/>  <!-- which joystick axis to use for turning -->
            <param name="scale_linear" value="0.8"/>  <!-- scale to apply to drive speed, in m/s: drive_motor_rpm * 2pi / 60 * wheel radius -->
            <param name="scale_angular" value="1.75"/>  <!-- scale to apply to angular speed, in rad/s: scale_linear / min_radius -->
            <param name="scale_linear_turbo" value="1.78"/>  <!-- scale to apply to linear speed, in m/s -->
			<remap from="/cmd_vel" to="/cmd_vel_intuitive"/>
        </node>
	<rosparam command="load" file="$(find osr_bringup)/config/physical_properties.yaml"/>
	<rosparam command="load" file="$(find osr_bringup)/config/physical_properties_mod.yaml"/>
	<node name="rover" pkg="osr" type="rover.py" output="screen"/>
	<node name="led_screen" pkg="led_screen" type="arduino_comm.py"/>
	<node pkg="joy"
			type="joy_node" name="joy_node">

		<param name="autorepeat_rate"   value="1.0"/>
		<param name="coalesce_interval" value="0.05"/>

	</node>
</launch>
	
